.projects-section {
    padding: 30px;
  

}

.projects-container {
    max-width: 1200px;
    margin: 0 auto;
}

.projects-header {
    text-align: center;
    margin-bottom: 40px;
}

.projects-title {
    font-size: 24px; 
    font-weight: bold;
    text-align: center;
    color: #3B82F6;
    
    margin-bottom: 20px;
}

.git-repo{
    margin-bottom: 10px;
    color: #224264;
    transition: color 0.3s ease;
}

.git-repo:hover{
    color: #007bff;
}

.projects-text {
    font-size: 1.2rem;
    color: #38BDF8;
    line-height: 1.6;
}

.projects-list {
    display: grid;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.projects-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #E6E6E6;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projects-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.item-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.project-images {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 10px 10px 0 0;
}

.item-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.item-title:hover {
    color: #007bff;
}

.item-class {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
    flex-grow: 1;
}

a {
    text-decoration: none;
}

@media (min-width: 768px) {
    .projects-title{

        font-size: 28px;
        margin-bottom: 20px;
    }

    .projects-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .projects-title{
        font-size: 32px;
        margin-bottom: 30px;
    }

    .projects-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
