a {
    color: #333333;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0A66C2; 
}

ul {
    padding: 0;
}

.contact-section {
    padding: 30px 15px;
   
}

.project-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #3B82F6;
    margin-bottom: 20px;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contacts-container {
    padding: 15px 20px;
    /* background-color: #E6E6E6; */
    border: 1px solid #E6E6E6;
    border-radius: 15px;
}



.contact-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.contacts-item {
    padding: 10px;
    background-color: #E6E6E6;
    width: 250px;
    color: #333333;
    border-radius: 15px;
    border: 1px solid #38BDF8;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.contacts-item:hover {
    transform: translateY(-5px);
    background-color: #c7e2f5;
}

.contactme{
    color: #0A66C2;
    
}

.contacts-icons {
    padding-right: 5px;
    text-align: center;
}

.loc,
.phone,
.mail,
.cv {
    fill: rgb(29, 46, 82);
}

.link {
    fill: #0A66C2;
}

.git {
    fill: #171515;
}

.form-container {
    padding: 15px 20px;
    /* background-color: rgba(230, 230, 230, 0.5);  */
    border: 1px solid rgba(230, 230, 230, 0.5);
    border-radius: 15px;
}


form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #38BDF8;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #93d0f8;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 16px;
    color: #333333;
    transition: border-color 0.3s ease;
}

form input:focus,
form textarea:focus {
    border-color: #33a0e9;
    
    outline: none;
}

form button {
    padding: 10px 20px;
    background-color: #38BDF8;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #3B82F6;
}

@media (min-width: 768px) {
    .content-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .contacts-container,
    .form-container {
        width: 48%; /
    }
}
