.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #b79ef0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Лого */
.HeaderTitle {
 
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-top: 2px;
}

.logoHeader{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.logo-header{
  fill: #f0f0f0;

}


/* Навігація */
.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  color: #fafdf2;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

.nav a:hover {
  color: #ffffff;
}

/* Кнопка меню для мобільних */
.menuButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.menuIcon {
  fill: #f5eff5;
stroke: #f5eff5;
}


/* Мобільне меню */
.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b79ef0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto; 
}

.menuNav :a{
  font-size: 50px;
}

.mobileMenu.open {
  transform: translateX(0);
}

/* Закрити кнопку */
.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
}

/* Зміна фону сторінки */
body.menu-open {
  overflow: hidden;
}

.closeHeader{
  fill:#fafdf2;
}
.mobileMenu nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.mobileMenu a {
  text-decoration: none;
  color: #fafdf2;
  font-size: 18px;
  font-weight: 500;
}

.mobileMenu a:hover {
  color: #cbea7b;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }

.nav a{
  font-size: 14px;
}

  .menuButton {
    display: block;
  }
}

@media (min-width: 769px) {
  .mobileMenu {
    display: none;
  }


  
}