


body {
  margin: 0;

  overflow-x: hidden;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #bbdafa;
  position: relative;
  z-index: 10;
 
}


.menuButton {
  background: none;
  border: none;
  cursor: pointer;
 margin-left: 0 auto;
  
  padding: 0;
}

.menuIcon {
  fill: #333333;
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.menuButton:hover .menuIcon {
  transform: scale(1.2);
}


.nav {
  display: none; 
}

.nav a {
  text-decoration: none;
  color: #333333;
  margin: 0 1rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #41badb;
}


.mobileMenu {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #bbdafa, #ffffff);
  z-index: 15;
  overflow: hidden;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.mobileMenu.open {
  transform: translateY(0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuNav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileMenuItem {
  text-decoration: none;
  color: #333333;
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.mobileMenuItem:hover {
  color: #41badb;
}


.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 20;
}

.closeHeader {
  fill: #333333;
  width: 30px;
  height: 30px;
}


@media (min-width: 768px) {
  .menuButton {
    display: none; 
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}


@media (min-width: 1024px) {
  .header {
    padding: 1.5rem 3rem;
  }

  .nav a {
    margin: 0 2rem;
    font-size: 1.1rem;
  }
}
